@import '../../styles/commons.scss';

.placeSearchSection {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  height: 100vh;
  z-index: 100;

  @include desktop {
    width: 20%;
  }

  @include mobile {
    width: 100%;
  }

  &.open {
    display: block;
  }

  .searchInput {
    background: #eee;
    width: 100%;
    height: 10vh;
    font-size: 1.3rem;
    padding: 10px;
  }

  .placeSearchList {
    max-height: 80vh;
    overflow-y: auto;
    background: #eee;
    padding: 0 10px;

    .searchListItem {
      width: 100%;
      background: #fff;
      margin: 10px 0;

    }
  }

  .paginationList {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .paginationItem {
      border: 1px solid #181818;
      margin-right: 10px;

      .paginationLink {
        display: inline-block;
        padding: 5px;

        &.open {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}