@import '../../styles/commons.scss';

@include mobile {
  .mainWrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .readableHidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0, 0, 0, 0);
    }
  }
}

@include desktop {
  .mainWrapper {
    width: 20%;
    height: 100vh;

    .readableHidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      clip: rect(0, 0, 0, 0);
    }
  }
}