@import '../../styles/commons.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px;

  .appTitle {
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navButton {
    position: relative;
    left: 0;

    .btn {
      color: black;
      text-decoration: none;
    }
  }

  .navMenu {
    position: absolute;
    top: 0;
    left: -70%;
    border: 1px solid #181818;
    background: #fff;
    width: 70%;
    height: 100vh;
    z-index: 200;
    transition: left .3s;
    font-size: 1.3rem;

    &.open {
      left: 0;
    }
  }

  .addPlaceButton {
    position: relative;
    right: 0;

    .btn {
      color: black;
      text-decoration: none;
    }
  }
}

.navMenuOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #181818;
  opacity: .6;
  z-index: 100;

  &.open {
    display: block;
  }
}


@include mobile {
  .navMenuOverlay {
    width: 100%;
  }
}

@include desktop {
  .navMenuOverlay {
    width: 20%;
  }
}