@import '../../styles/commons.scss';

@include mobile {
  .mapEl {
    width: 100vw;
    height: 70vh;
  }
}

@include desktop {
  .mapEl {
    width: 80vw;
    height: 100vh;
    position: absolute !important;
    top: 0;
    right: 0;
  }
}