@import '../../styles/commons.scss';

@include mobile {
  .mapEl {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 80vh;
  }

  .infoOverlay {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, .93);
    display: inline-block;
  }
}

@include desktop {
  .mapEl {
    width: 80%;
    height: 100vh;
    position: absolute !important;
    top: 0;
    right: 0;
  }

  .infoOverlay {
    height: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #181818;
    padding: 10px;
  }
}