@import '../../styles/commons.scss';

@include mobile {
  .searchList {
    background: #eee;
    padding: 10px;
    position: absolute;
    bottom: -80vh;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: 100;
    transition: bottom 0.5s;

    &.open {
      bottom: 0;
    }

    .searchItem {
      width: 100%;
      margin: 0 auto 10px;
      background: #fff;
    }
  }
}

@include desktop {
  .searchList {
    background: #eee;
    padding: 10px;

    .searchItem {
      width: 100%;
      margin: 0 auto 10px;
      background: #fff;
    }
  }
}